* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.wrapper {
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
}

body {
    font-family: Arial;
}

header .wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0808da;
}


/* # spotlight start */

#spotlight {
    padding: 50px 0;
    text-align: center;
}

#spotlight h1 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 36px;
    color: #41447D;
}

#spotlight p {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.2em;
    color: #797979;
}


/* # spotlight end */


/* #sports start */

#sports {
    padding: 50px 0;
}

#sports .content h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #41447D;
}

#sports .content ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#sports .content ul li {
    width: 30%;
    margin-right: 24px;
}

#sports .content ul li:nth-child(n+4) {
    margin-top: 24px;
}

#sports .content ul li:nth-child(3n) {
    margin-right: 0;
}

#sports .content ul li img {
    width: 100%;
    border-radius: 10px;
}

@media all and (max-width:768px) {
    #spotlight h1 {
        font-size: 36px;
        margin-bottom: 24px;
    }
    #spotlight p {
        font-size: 16px;
    }
    #sports .content ul li {
        width: 45%;
    }
    #sports .content ul li:nth-child(2n) {
        margin-right: 0;
    }
    #sports .content ul li:nth-child(n+3) {
        margin-top: 24px;
    }
    #sports .content ul li:nth-child(3n) {
        margin-right: 24px;
    }
    #sports .content ul li:nth-child(6) {
        margin-right: 0;
    }
}

@media all and (max-width:480px) {
    #spotlight h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    #spotlight p {
        font-size: 14px;
    }
    #sports .content ul li {
        width: 85%;
        margin-right: 0;
    }
    #sports .content ul li:nth-child(n+2) {
        margin-top: 24px;
    }
    #sports .content ul li:nth-child(3n) {
        margin-right: 0;
    }
}